@import '../../styles/variables';
@import '../../styles/mixins';

.tags{
    @include flex-direction($align-i:center);
    gap: 10px;
    flex-wrap: wrap;
    &_name{
        color: $white;
        background: $secondary;
        border-radius: 10px;
        font-size: 14px;
        list-style-type: none;
        min-width: 115px;
        text-align: center;
        line-height: 22px;
        padding: 0 15px;
        @include mobile{
            font-size: 10px;
        }
    }
}