@import '../../styles/variables';
@import '../../styles/mixins';

.tags{
    @include flex-direction;
    padding-top: 20px;
    gap: 10px;
    &_name{
        color: $white;
        background: $secondary;
        border-radius: 10px;
        height: 25px;
        border: none;
        font-size: 14px;
        font-weight: 500;
        padding-left: 3%;
        padding-right: 3%;
    }
}