@import '../../styles/variables';
@import '../../styles/mixins';

.titleAndLocation{
    padding-bottom: 21px;
    color:$secondary;
    & > *{
        font-weight: 500;
    } 
    &_title{
        font-size: 36px;
        
    }
    &_location{
        font-size: 18px;   
    }
}

@include mobile{
    .titleAndLocation{
        padding-bottom: 10px;
        &_title{
            font-size: 18px;
            padding-bottom: 5px;    
        }
        &_location{
            font-size: 14px;
        }
    }
}