// Customizable flexbox mixin //
@mixin flex-direction($direction:row, $justify-c:null, $align-c:null , $align-i:null, $flex-w:null ){
    display:flex;
    flex-direction:$direction;
    justify-content:$justify-c;
    align-content:$align-c;
    align-items:$align-i;
    flex-wrap: $flex-w;
}

// Customizable mixin to adapt the width and height of the block as well as the adjustment of the image in relation to it //
@mixin img($object-fit:cover ,$width:100% ,$height:100%){
    object-fit:$object-fit;
    width:$width;
    height:$height;
}

// Media queries for mobile //
@mixin mobile{
    @media #{$breakpoint-screen-small}{
        @content;
    }
}