// base-color

$white:#FFFFFF;
$black:#000000;

$primary:#F6F6F6;
$secondary:#FF6060;
$tertiary:#C4C4C4;

$colorGradient: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, rgba(0, 0, 0, 0.5) 100%);

