@import '../../styles/_mixins';
@import '../../styles/_variables';

.card-container{
    background-color:$primary;
    @include flex-direction($justify-c:space-between, $flex-w:wrap);
    border-radius:25px ; 
    width: 100%;  
    padding: 50px;
    row-gap: 50px;


    
    @include mobile{
      flex-direction:column;
      background-color:$white;
      padding:0 0 0 0;
      row-gap: 20px;
   }  
    &::after {
        content: "";
        width: calc(31% - 0px); // Account for margins and paddings
        margin-bottom: 20px;
        visibility: hidden;
        @include mobile{
          margin-bottom:0;
       }  
      }
}