@import '../../styles/mixins';
@import '../../styles/variables';

.main-style{
    max-width: 1440px;
    margin: 0 auto;
    padding: 50px 100px;
    @include mobile{
        padding:27px 20px;
    }
}