@import '../../styles/variables';
@import '../../styles/mixins';

.card-lease,.card-lease img{
    position: relative;
}
.card-lease{
    width: calc(28% - 0px);
    margin-top: 50px;
    height: 340px;
    border-radius: 25px;
    overflow: hidden;
    z-index: 0;
    @include mobile{
        margin-top: 20px;
        width: 100%;
        height: 255px;
    }
    &_img{
        @include img;    
    }
    &_overlay,&_title{
        position: absolute;
    }
    &_overlay {    
        bottom: 0;
        left: 0;
        z-index: 1; 
        width: 100%;
        height: 30%;
        background: $colorGradient ;
    }
    &_title{
        bottom: 20px;
        left: 20px;
        right: 20px;
        z-index: 2;
        color: $white;
        font-size: 18px;
        font-weight: 500;
        text-shadow: 0 2px 6px rgba(0, 0, 0, 0.5);    
    }
}