@import '../../styles/variables';
@import '../../styles/mixins';

.host{
    @include flex-direction( $align-i:center);
    padding-bottom:21px;
    &_picture{
        border-radius: 50%;
        width: 64px;
    }
    &_name{
        font-size: 18px;
        color: $secondary;
        width: 100px;
        text-align: right;
        padding-right: 10px;
        font-weight: 500;
    }
}

@include mobile{
    .host{
        padding-bottom: 0;
        &_picture{
            width: 32px;
        }
        &_name{
            font-size: 12px;
            width: 60px;   
        }
    }    
}
