@import '../../styles/mixins';
@import '../../styles/variables';

.header-block {
    @include flex-direction($justify-c:space-between, $align-i:center);
    max-width: 1240px;
    max-height: 68px;
    margin:45px 100px 45px 100px;
    &_nav {
       @include flex-direction;
       list-style-type: none;
       & li:first-child{
        padding-right: 57px;
       }
       & li a {
        color:$secondary;
        text-decoration: none;
        &:hover{
            text-decoration: underline;
        }
       }
    }
    
}