@import '../../styles/variables';
@import '../../styles/mixins';

.carousel {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    height: 414px; 
    overflow: hidden;
    
    &_slide {
        width: 100%;
        height: 100%;
        object-fit: cover; 
        border-radius: 25px;  
    }   
    &_arrow-left{
        position: absolute;
        left: 0;    
    } 
    &_arrow-right{
        position: absolute;
        right: 0;    
    }
    &_index{
        position: absolute;
        bottom: 24.92px;
        color:$white;
        font-size: 18px;
        
    }     
  }

@include mobile{
  .carousel {
    height: 255px;
    &_arrow-left,&_arrow-right{
        width: 24px;    
    } 
    &_index{
        visibility: hidden;    
    }
  }     
}
  