@import '../../styles/variables';
@import '../../styles/mixins';

.carousel {
    @include flex-direction($justify-c:center, $align-i:center);
    position: relative;
    height: 414px; 
    overflow: hidden;
    
    &_slide {
        @include img;
        border-radius: 25px;  
    }
    &_arrow-left,&_arrow-right{
        cursor: pointer;
    }
    &_arrow-left,&_arrow-right,&_index{
        position: absolute;
    }   
    &_arrow-left{
        left: 0;    
    } 
    &_arrow-right{
        right: 0;    
    }
    &_index{
        bottom: 24.92px;
        color:$white;
        font-size: 18px;
        
    }     
  }

@include mobile{
  .carousel {
    height: 255px;
    &_arrow-left,&_arrow-right{
        width: 24px;    
    } 
    &_index{
        visibility: hidden;    
    }
  }     
}
  