@import '../../styles/variables';
@import '../../styles/mixins';

.tags{
    @include flex-direction($align-i:center);
    padding-top: 20px;
    gap: 10px;
    &_name{
        color: $white;
        background: $secondary;
        border-radius: 10px;
        border: none;
        font-size: 14px;
        font-weight: 500;
        padding: 3% 20% 3% 20%;
        white-space: nowrap;
        list-style-type: none;
    }
}