@import '../../styles/_mixins';
@import '../../styles/variables';

.error {
  @include flex-direction($direction: column,$justify-c:space-evenly, $align-i: center);
  gap: 5vh;  
  min-height:40vh;
  color: $secondary;

  &_title {
    font-weight: 700;
    font-size: 10vw; 
  }

  & p {
    font-size: 2vw; 
  }

  & a {
    color: $secondary;
    font-size: 1.5vw; 
  }
}

  