@import '../../styles/_mixins';
@import '../../styles/variables';


.error{
    @include flex-direction($direction:column, $align-i:center);
    gap: 139px;
    padding:139px 0 139px 0;
    color:$secondary;
    &_title{
        font-weight: 700;
        font-size: 288px; 
    }
    & p {
        font-size: 36px;
    }
    & a {
        color:$secondary;
        font-size: 18px;
    }
}