@import '../../styles/_mixins';
@import '../../styles/variables';

.error {
  @include flex-direction($direction: column, $align-i: center);
  gap: 5vh;  
  min-height: calc(100vh - 370px);
  color: $secondary;

  &_title {
    font-weight: 700;
    font-size: 10vw; 
  }

  & p {
    font-size: 2vw; 
  }

  & a {
    color: $secondary;
    font-size: 1.5vw; /* Utilisez des unités relatives (vw) pour ajuster la taille du texte en fonction de la largeur de l'écran */
  }
}

  